<section class="dwp-key-details-bar" aria-label="Key details">
    <div class="dwp-key-details-bar__key-details">
    <dl class="dwp-key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-key-details-bar__primary">Sam Elliot</dd>
        <dt class="govuk-visually-hidden">National Insurance Number:</dt>
        <dd class="dwp-key-details-bar__secondary">NA 11 22 33 C</dd>
        <!-- <dt class="govuk-visually-hidden">Claim status:</dt>
        <dd class="govuk-table__cell dwp-key-details-bar__status">
            <strong class="govuk-tag dwp-key-details-bar__status--dwp-default">
              Assessment booked
            </strong>
        </dd> -->
    </dl>
    <dl class="dwp-key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>14 August 1996</dd>
      
    </dl>
    </div>
    </section> 