{% extends "layouts/main1.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<section class="dwp-key-details-bar" aria-label="Key details">
  <div class="dwp-key-details-bar__key-details full-width-container1280">
  <dl class="dwp-key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="dwp-key-details-bar__primary">Raymond Adamu</dd>
      <dt class="govuk-visually-hidden">National Insurance Number:</dt>
      <dd class="dwp-key-details-bar__secondary">RN 65 43 21 X</dd>
      <!-- <dt class="govuk-visually-hidden">Claim status:</dt>
      <dd class="govuk-table__cell dwp-key-details-bar__status">
          <strong class="govuk-tag dwp-key-details-bar__status--dwp-default">
            Assessment booked
          </strong>
      </dd> -->
  </dl>
  <dl class="dwp-key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>30 July 1961</dd>
    
  </dl>
  </div>
  </section> 

<div class="govuk-width-container full-width-container1280">

<a href="claimant-documents-buttons.html" class="govuk-back-link">Back to Claimant documents list</a>

<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">PIP questionnaire</h1>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
           
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date DWP received
          </dt>
          <dd class="govuk-summary-list__value">
            10 Jan 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            PIP
          </dd>
        </div>
      </dl>

      <nav class="govuk-pagination" role="navigation" aria-label="results">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous document</span></a>
        </div>
       
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next document</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg></a>
        </div>
      </nav>

      <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <iframe class="document" src="/public/pdfs/2PIP2-questionnaire_2015-09-21_98C_Redacted.pdf" title="PIP2 document"></iframe>
    </div>
  </div>  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


   

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Document details
          </span>
        </summary>
      
      <br>
      <br>

      <strong class="govuk-tag govuk-tag--green">
        Added to claim
      </strong>
      <span class="govuk-body-s">This document was added to <a class="govuk-link" href="claimant-details.html">PIP claim - 12 Sep 2021</a> and 2 other claim(s)</span>

            <br>
            <br>
            <h2 class="govuk-heading-m">View document activity</h2>
            
           
      
           
        <div class="dwp-timeline">
          <!-- <h1 class="govuk-heading-m">Appointments</h1> -->
          <ol class="dwp-timeline__events">
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Comment added by Joe Bloggs</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1">This document contains information relating to the claimants difficulties in moving around.
              </p>
              <p class="govuk-caption-m">12 Sep 2021 at 2:37pm</p>
          </li>
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Date of document changed by Joe Bloggs</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1"></p>
            <p class="govuk-caption-m">12 Sep 2021 at 2:37pm</p>
        </li>
          <li class="dwp-timeline__events--entry">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Added to claim by Gabriel Brennan</h2>
              <p class="govuk-caption-m govuk-!-margin-bottom-1"></p>
              <p class="govuk-caption-m">21 Aug 2021 at 1:44pm</p>
          </li>
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Marked as reviewed by Gabriel Brennan</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1"></p>
            <p class="govuk-caption-m">21 Aug 2021 at 1:44pm</p>
        </li>
          </ol>
          </div> 

           
              <div class="moj-timeline govuk-!-margin-top-4">
      
               
      
              </div>
            </details>
           
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
               
                <h2 class="govuk-heading-s">Manage evidence</h2>
                <div id="waste-hint" class="govuk-hint">
                  
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Important document
                    </label>
                  </div>
                
                
                </div>
                <br>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="more-detail">
                    Comment on evidence
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
                </div>
                
              </fieldset>
            </div>

            
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                    <form action="confirmation-one-button" method="post" novalidate>
      
                        <button class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
                          Save and continue
                        </button>
                    
                    </form>
                  </li>
                  <li><a href="claimant-documents-buttons-reviewed.html" class="govuk-link">Return to claimant documents</a></li>
                </ul>
      
              </nav>
          

    </div>

    <div class="govuk-grid-column-one-third">

 

    </div>

  </div>
    

</div>  


{% endblock %}
