{% extends "layouts/main1.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<section class="dwp-key-details-bar" aria-label="Key details">
  <div class="dwp-key-details-bar__key-details full-width-container1280">
  <dl class="dwp-key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="dwp-key-details-bar__primary">Raymond Adamu</dd>
      <dt class="govuk-visually-hidden">National Insurance Number:</dt>
      <dd class="dwp-key-details-bar__secondary">RN 65 43 21 X</dd>
      <!-- <dt class="govuk-visually-hidden">Claim status:</dt>
      <dd class="govuk-table__cell dwp-key-details-bar__status">
          <strong class="govuk-tag dwp-key-details-bar__status--dwp-default">
            Assessment booked
          </strong>
      </dd> -->
  </dl>
  <dl class="dwp-key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>30 July 1961</dd>
    
  </dl>
  </div>
  </section> 

<div class="govuk-width-container full-width-container1280">

  <form action="claimant-documents-buttons" method="post" novalidate>

<a href="claimant-documents-buttons.html" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
 


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span id="docAmountSpan" class="govuk-caption-l">{{ data.selectedDocument }} of {{ data.totalDocuments }} documents (filters applied)</span>
      <!-- <span class="govuk-caption-l">1 of 13 documents (filters applied)</span> -->
      <h1 class="govuk-heading-l">PIP2 Questionnaire  </h1>
   

  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of document
      </dt>
      <dd class="govuk-summary-list__value"> 
        10 Aug 2015
        <!-- {{ data["date-created-day-PIP2"]}} &nbsp;  {{ data["date-created-month-PIP2"]}} &nbsp; {{ data["date-created-year-PIP2"]}} -->
      </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link" href="#">
          Add date<span class="govuk-visually-hidden"> name</span>
        </a> -->
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date DWP received
      </dt>
      <dd class="govuk-summary-list__value">
        28 Aug 2015
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Benefit type
      </dt>
      <dd class="govuk-summary-list__value">
        PIP
      </dd>
    </div>
   
  </dl>
      

  </div>

    
    <div class="govuk-grid-column-one-third">
    
      <aside class="app-related-items" role="complementary">
        <h1 class="govuk-heading-m">Manage </h1>
        <p class="govuk-body">
          <a href="document-details-form-pip2" class="govuk-link" rel="noreferrer noopener">Update document details</a>
        </p>
  
        <p class="govuk-body">
          <a href="/public/pdfs/UR-file1/PIP2-questionnaire_2015-09-21_98C_Redacted.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank"> Open PDF document in a new tab</a>
        </p>
       
    </div>
  </div>
</aside>
  
           
            <!-- <strong class="govuk-tag govuk-tag--blue">Unread</strong>  -->
        
      
            <input type="hidden" name="PIP2docRead" value="true" />
      
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">  
                {{ govukCheckboxes({
                  name: "PIP2doc",
                  
                  items: [
                    
                    {
                      value: "PIP2doca",
                      text: "Mark document as important",
                      checked: (data['PIP2doc'])
                    }
                  ]
                }) }}
              </div>
  
      
              <div class="govuk-grid-column-one-third">  
      <ul class="govuk-list nav-right">
        <li>
          <nav class="govuk-pagination" role="navigation" aria-label="results">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="further-evidence-one-button-AP2.html" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">Previous document</span></a>
            </div>
           
            <!-- <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="further-evidence-one-button-Envelope.html" rel="next"> <span class="govuk-pagination__link-title">Next document</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg></a>
               
            </div> -->
          
          </nav>
      </li>
   
    </ul>

  
</div>
</div>
 



  <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <iframe class="document" src="/public/pdfs/UR-file1/PIP2-questionnaire_2015-09-21_98C_Redacted.pdf" title="PIP2 document"></iframe>
    </div>
  </div>  



</main>
</div>  



{% endblock %}
