{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}
 
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
 
{% block main %}
 
{% include "includes/assessment-status-neutral-pip.html" %}
 
<div class="govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="further-evidence-one-button-ARcoverletter" method="post">

      
        {% if data['nameARcover'] %}
        <h1 class="govuk-heading-l">{{ data["nameARcover"]}} </h1>
        {% else %}
        <h1 class="govuk-heading-l">Award review AR1 covering letter </h1>
              {% endif %}

              <!-- <input type="hidden" name="AwardCoverRead" value="true" /> -->

            </div>
          </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="sort">
             Change document name
          </label>
          <select class="govuk-select" id="nameARcovera" name="nameARcover">
            <option value="">Select</option>
            <option value="Appeal info">Appeal info</option>
            <option value="Cardiology document">Cardiology document</option>
            <option value="Care home info">Care home info</option>
            <option value="Carer info">Carer info</option>
            <option value="Claimant document">Claimant document</option>
            <option value="Claimant letter">Claimant letter</option>
            <option value="Claimant photographic evidence">Claimant photographic evidence</option>
            <option value="Clinic appointment">Clinic appointment</option>
            <option value="Clinic document">Clinic document</option>
            <option value="Clinic letter">Clinic letter</option>
            <option value="Clinic report">Clinic report</option>
            <option value="Community Psychiatric Nurse document">Community Psychiatric Nurse document</option>
            <option value="Consultant document">Consultant document</option>
            <option value="Consultant gender recognition certificate">Consultant gender recognition certificate</option>
            <option value="Consultant letter">Consultant letter</option>
            <option value="Consultant report">Consultant report</option>
            <option value="Dermatology document">Dermatology document</option>
            <option value="DS1500">DS1500</option>
            <option value="Fit note">Fit note</option>
            <option value="Friends and family document">Friends and family document</option>
            <option value="GP certificate of visual impairment">GP certificate of visual impairment</option>
            <option value="GP death certificate">GP death certificate</option>
            <option value="GP document">GP document</option>
            <option value="GP gender recognition certificate">GP gender recognition certificate</option>
            <option value="GP letter">GP letter</option>
            <option value="GP medical history">GP medical history</option>
            <option value="GP medical record">GP medical record</option>
            <option value="GP prescription">GP prescription</option>
            <option value="GP report">GP report</option>
            <option value="Haematology document">Haematology document</option>
            <option value="Health Professional consultation report">Health Professional consultation report</option>
            <option value="Home Office document">Home Office document</option>
            <option value="Hospital appointment">Hospital appointment</option>
            <option value="Hospital Doctor letter">Hospital Doctor letter</option>
            <option value="Hospital Doctor report">Hospital Doctor report</option>
            <option value="Hospital document">Hospital document</option>
            <option value="Hospital letter">Hospital letter</option>
            <option value="Hospital report">Hospital report</option>
            <option value="Mandatory reconsideration request">Mandatory reconsideration request</option>
            <option value="Medical questionnaire">Medical questionnaire</option>
            <option value="Nephrology document">Nephrology document</option>
            <option value="Neuro document">Neuro document</option>
            <option value="Occupational Therapy">Occupational Therapy</option>
            <option value="Oncology document">Oncology document</option>
            <option value="Optician document">Optician document</option>
            <option value="Orthopaedic document">Orthopaedic document</option>
            <option value="Pharmacy document">Pharmacy document</option>
            <option value="Physician document">Physician document</option>
            <option value="Physiotherapy document">Physiotherapy document</option>
            <option value="Psychiatric document">Psychiatric document</option>
            <option value="Radiology document">Radiology document</option>
            <option value="Specialist Nurse letter">Specialist Nurse letter</option>
            <option value="Specialist Nurse report">Specialist Nurse report</option>
            <option value="SR1">SR1</option>
            <option value="Talking therapy letter">Talking therapy letter</option>
          </select>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-created-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Add date of document
              </h1>
            </legend>
           
            <div class="govuk-date-input" id="document-created-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-created-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-created-dayARcovera" name="date-created-dayARcover" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-created-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-created-monthARcovera" name="date-created-monthARcover" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-created-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-created-yearARcovera" name="date-created-yearARcover" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>
        
          </fieldset>
        </div>
             
        

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="more-detail">
              Comment on this document
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
          <textarea class="govuk-textarea" id="comment-ARcover" name="comment-ARcover" rows="4" aria-describedby="more-detail-hint"></textarea>
        </div>
        </div>
       

        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">
              Document not relavant
              </h2>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Examples Duplicate, admin letter, envelopes,
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Archive document
                </label>
              </div>
             
            </div>
          </fieldset>
        </div> -->
        


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

                </div>
              </div>
      <br>
            <div class="govuk-grid-row">
           
              <div class="govuk-grid-column-full">
                <iframe class="document" src="/public/pdfs/UR-file1/Award-Review-AR1-Covering-Letter_2021-09-10_98C_Redacted.pdf" title="PIP2 document"></iframe>
              </div>
      
          </div>
            </div>
        </div>
{% endblock %}
