{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}
 
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
 
{% block main %}
 
{% include "includes/assessment-status-neutral-pip.html" %}
 
<div class="govuk-width-container">
<a href="claimant-documents-buttons.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Update claimant documents</h2>
      <!-- <p class="govuk-body-s" id="last-updated">Last updated from DRS at 02:08 on 16 Sep 2021</p> -->
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">
              <button type="button" data-index="0">Name</button>
            </th>
            
            <th scope="col" class="govuk-table__header column-width-15" aria-sort="none">
              <button type="button" data-index="3">Date of document</button>
            </th>

            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">
              <button type="button" data-index="2">Date DWP received</button>
            </th>
           
            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">
              <button type="button" data-index="3">Document label</button>
            </th>
          </tr>
        </thead>
     
        <tbody class="govuk-table__body">

       

          <tr class="govuk-table__row filter-table-row">     
            <!-- {% if data['name'] %}
            <td class="govuk-table__cell"><a class="selectDocumentLink" href="document-details-linear-AR2.html">{{ data["name"]}} </a></td>
            {% else %} -->
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-AR2.html">Award review AR1</a></td>       
            <!-- {% endif %} -->
            <!-- <td class="govuk-table__cell ">PIP</td>     -->
            <td class="govuk-table__cell" data-sort-value="date"> 
              {{ data["date-created-dayAR2"]}} &nbsp;  {{ data["date-created-monthAR2"]}} &nbsp; {{ data["date-created-yearAR2"]}}
            </td>
            <td class="govuk-table__cell" data-sort-value="13">15 Aug 2021</td>
              {% if data['AwardReview2'] %}
            <td class="govuk-table__cell"></td>
            {% elif data['AwardReview2Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">     
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-ARcover.html">Award review AR1 covering letter</a></td>     
            <!-- <td class="govuk-table__cell">PIP</td>   -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-dayARcover"]}} &nbsp;  {{ data["date-created-monthARcover"]}} &nbsp; {{ data["date-created-yearARcover"]}}
            </td>
            <td class="govuk-table__cell" data-sort-value="12">	15 Aug 2021</td>
             {% if data['AwardCover'] %}
            <td class="govuk-table__cell"></td>
            {% elif data['AwardCoverRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>


          <tr class="govuk-table__row filter-table-row">    
            {% if data['name6'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-FurtherEvidence1.html">{{ data["name6"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-FurtherEvidence1.html">Further evidence</a></td>
            {% endif %}  
                   
            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-FE1"]}} &nbsp;  {{ data["date-created-month-FE1"]}} &nbsp; {{ data["date-created-year-FE1"]}}</td>
            <td class="govuk-table__cell" data-sort-value="12">10 Sept 2021</td>
            {% if data['fe1'] %}
            <td class="govuk-table__cell"></td>
            {% elif data['fe1Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>


          <tr class="govuk-table__row filter-table-row">    
            {% if data['name5'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-Envelope.html">{{ data["name5"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-Envelope.html">WHITE MAIL UNSTRUCTURED</a></td>
            {% endif %}    
            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-env"]}} &nbsp;  {{ data["date-created-month-env"]}} &nbsp; {{ data["date-created-year-env"]}}</td>
            <td class="govuk-table__cell" data-sort-value="11">22 June 2020</td>
             {% if data['envelope'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong><br></td>
            {% elif data['envelopeRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>


          <tr class="govuk-table__row filter-table-row">    
            {% if data['name3'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-WU.html">{{ data["name3"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-WU.html">WHITE MAIL UNSTRUCTURED</a></td>
            {% endif %}    
            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-wu"]}} &nbsp;  {{ data["date-created-month-wu"]}} &nbsp; {{ data["date-created-year-wu"]}}</td>
            <td class="govuk-table__cell" data-sort-value="10">22 Apr 2020</td>
             {% if data['unstwhite'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong><br></td>
            {% elif data['unstwhiteRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>
 
          <tr class="govuk-table__row filter-table-row"> 
            {% if data['name4'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-WU2.html">{{ data["name4"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-WU2.html">WHITE MAIL UNSTRUCTURED</a></td>
            {% endif %}  
            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date"> 
              {{ data["date-created-day-wu2"]}} &nbsp;  {{ data["date-created-month-wu2"]}} &nbsp; {{ data["date-created-year-wu2"]}}</td>
            <td class="govuk-table__cell" data-sort-value="9">22 Apr 2020</td>
             {% if data['unstwhite2'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['unstwhite2Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

        
            
            <tr class="govuk-table__row filter-table-row">    
              {% if data['name7'] %}
              <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-FurtherEvidence2.html">{{ data["name7"]}} </a></td>
              {% else %}
              <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-FurtherEvidence2.html">Further evidence</a></td>
              {% endif %}  

            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-fe2"]}} &nbsp;  {{ data["date-created-month-fe2"]}} &nbsp; {{ data["date-created-year-fe2"]}}</td>
            <td class="govuk-table__cell" data-sort-value="8">10 Oct 2019</td>
            {% if data['fe2'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['fe2Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">    
            {% if data['name8'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-ESA85.html">{{ data["name8"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-ESA85.html">ESA85</a></td>
            {% endif %}   
                     
            <!-- <td class="govuk-table__cell">UC</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-ESA85"]}} &nbsp;  {{ data["date-created-month-ESA85"]}} &nbsp; {{ data["date-created-year-ESA85"]}}</td>
            <td class="govuk-table__cell" data-sort-value="7">20 March 2018</td>
             {% if data['ESA85'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong><br></td>
            {% elif data['ESA85Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong><br></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">  
            {% if data['name9'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-ESA851-duplicate.html">{{ data["name9"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-ESA851-duplicate.html">ESA85</a></td>
            {% endif %}    
            <!-- <td class="govuk-table__cell">UC</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-ESA851"]}} &nbsp;  {{ data["date-created-month-ESA851"]}} &nbsp; {{ data["date-created-year-ESA851"]}}</td>
            <td class="govuk-table__cell" data-sort-value="7">20 March 2018</td>
             {% if data['ESA851'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong><br></td>
            {% elif data['ESA851Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong><br></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">    
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-ESA50.html">ESA50</a></td>  
            <!-- <td class="govuk-table__cell">UC</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-ESA50"]}} &nbsp;  {{ data["date-created-month-ESA50"]}} &nbsp; {{ data["date-created-year-ESA50"]}}</td>
            <td class="govuk-table__cell" data-sort-value="6">02 March 2018</td>
              {% if data['ESA50'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['ESA50Read'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">
            {% if data['nameAP1'] %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-AP1.html">{{ data["nameAP1"]}} </a></td>
            {% else %}
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-AP1.html">PA4 report</a></td>
            {% endif %}  
            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-AP1"]}} &nbsp;  {{ data["date-created-month-AP1"]}} &nbsp; {{ data["date-created-year-AP1"]}}</td>
            <td class="govuk-table__cell" data-sort-value="5">22 Aug 2017</td>
            <td class="govuk-table__cell">
              {% if data['PA4import'] %}
              <strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
              {% elif data['PA4importRead'] %}
              </td>
              {% else %}
              <strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
              {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-AR1.html">Award review AR1</a></td>
            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-AR1"]}} &nbsp;  {{ data["date-created-month-AR1"]}} &nbsp; {{ data["date-created-year-AR1"]}}</td>
            <td class="govuk-table__cell" data-sort-value="4">25 May 2017</td>
             {% if data['AwardReview'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['AwardReviewRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-AP2.html">PA4 report</a></td>
            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-AP2"]}} &nbsp;  {{ data["date-created-month-AP2"]}} &nbsp; {{ data["date-created-year-AP2"]}}</td>
            <td class="govuk-table__cell" data-sort-value="3">28 Oct 2015</td>
            {% if data['PA4consult'] %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Important</strong></td>
            {% elif data['PA4consultRead'] %}
            <td class="govuk-table__cell"></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
            {% endif %}
          </tr>

          <tr class="govuk-table__row filter-table-row">      
            <td class="govuk-table__cell"><a class="govuk-link" href="document-details-linear-pip2.html">PIP 2 questionnaire</a></td>
            <!-- <td class="govuk-table__cell">PIP</td> -->
            <td class="govuk-table__cell" data-sort-value="date">
              {{ data["date-created-day-PIP2"]}} &nbsp;  {{ data["date-created-month-PIP2"]}} &nbsp; {{ data["date-created-year-PIP2"]}}</td>
            <td class="govuk-table__cell" data-sort-value="2">28 Aug 2015</td>
            <td class="govuk-table__cell">
              {% if data['PIP2doc'] %}
            </td>
              {% elif data['PIP2docRead'] %}
              </td>
              {% else %}
              <strong class="govuk-tag govuk-tag--blue">Unread</strong></td>
              {% endif %}
            </tr>

 
        </tbody>
      </table>
    </div>
  </div>
</main>
</div>
{% endblock %}
 