
{% extends "layouts/old-layouts/layout.html" %}


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Supporting Documents Service
        
      </h1>
      <p>The following prototypes have been created to demonstrate designs for a service that enables claimant documents to be shared through the health assessment process.</p>
      <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>view documents stored in the Document Repository Service</li>
        <li>Manage document lists</li>
        <li>edit document details</li>
        <li>comment on documents</li>
        <li>add documents to claims/referrals</li>
        <li>link documents to assessment activities</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Current release of supporting documents</h2>
      <p>(Sept 23 by Team Lemon dove)</p>
        <p><a href="/v5-design-htln-224/full-mvp.html">Version 5</a></p>
       
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h2 class="govuk-heading-l">New deliverables</h2>


        <h3 class="govuk-heading-m">Improvements to supporting docs</h3>
        <p>(June 23 by Team Lemon dove)</p>
        <p><a href="/v8-htln-363">Claimant documents design</a></p>
  
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-224">HTLN-224</a>, HAS Design alignment of Supporting docs</li>
          </ul>
  


        <h3 class="govuk-heading-m">De-registering interest</h3>
        <p>(Sept 23 by Team Lemon dove)</p>
  
    
        <p><a href="/v7-htln-293">Warning message when de-registered interest</a></p>
  
  <br>
 
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-293">HTLN-293</a>, Design work for de-registering interest</li>
          </ul>
  
  <BR>






      <h3 class="govuk-heading-m">iframe improvements</h3>
      <p>(Sept 23 by Team Lemon dove)</p>

  
      <p><a href="/v6-htln-305/1280width">Agreed iframe size 1280px by 700px</a></p>
     

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What was tested
          </span>
        </summary>    

      <p><a href="/v6-htln-305">Width size 1100</a></p>
      <p><a href="/v6-htln-305/1200width">Width size 1200</a></p>
      <p><a href="/v6-htln-305/1300width">Width size 1300</a></p>
      </details>
     
<br>
<!-- 
      <p><a href="/v6-htln-305/index-content">Reposition content</a></p> -->


      

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-305">HTLN-305</a>, Design on iframe size for supporting docs in HAS</li>
        </ul>

<BR>

      <h3 class="govuk-heading-m">Design alignment across HAS</h3>
      <p>(June 23 by Team Lemon dove)</p>
      <p><a href="/v5-design-htln-224/full-mvp">Claimant documents design</a></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-224">HTLN-224</a>, HAS Design alignment of Supporting docs</li>
        </ul>

     
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <h2 class="govuk-heading-m">Full MVP</h2>
      <p>(May 22 by Team Magpie)</p>
      <p>This prototype demonstrates functionality planned for the full MVP release. This will include the following functionality:
        <ul class="govuk-list govuk-list--bullet">
          <li>view list of claimant documents</li>
          <li>view individual documents</li>
          <li>view document metadata</li>
          <li>add a document label</li>
          <li>add a document created date</li>
          <li>add a comment to document</li>
          <li>add document to claim(s)</li>
        </ul>
       
        <p><a href="/v4/full-mvp/claimant-details.html">MVP - Version 4</a></p>


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous work
            </span>
          </summary>    

          <p><a href="/mvp-version/referral-information.html" class="govuk-link">Version 1</a></p>
          <p><a href="/v2/full-mvp/referral-information.html" class="govuk-link">Version 2</a></p>
          <p><a href="/v3/single-page-mvp/referral-information.html">Version 3</a></p>
     
       
        <h2 class="govuk-heading-m">Additional pages</h2>
        <p><a href="/v5-design-htln-224/full-mvp/documents-list.html">Work in progress pages</a></p>
       




        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous work
            </span>
          </summary>    

          <p><a href="/mvp-version/referral-information.html" class="govuk-link">Version 1</a></p>
          <p><a href="/v2/full-mvp/referral-information.html" class="govuk-link">Version 2</a></p>
          <p><a href="/v3/single-page-mvp/referral-information.html">Version 3</a></p>
     
       
        <h2 class="govuk-heading-m">Iteration 1</h2>
        <p><a href="/v5-design-htln-224/full-mvp">LATEST VERSION: Version 5</a></p>
       
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Read only</h2>
      <p>Functionality includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>view list of claimant documents</li>
        <li>view individual documents</li>
        <li>view document metadata</li>
        <li>download documents</li>
      </ul>

      <p><a href="/read-only-breadcrumbs/referral-information.html" class="govuk-link">Version 1</a></p>
      <p><a href="/v2/read-only/referral-information.html" class="govuk-link">Version 2</a></p>
      <p><a href="/v3/read-only/referral-information.html" class="govuk-link">Version 3</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Add to claim</h2>
      <p>Functionality includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>view list of claimant documents</li>
        <li>view individual documents</li>
        <li>view document metadata</li>
        <li>add documents to claims</li>
      </ul>

      <p><a href="/add-to-claim/referral-information.html" class="govuk-link">Version 1</a></p>
      <p><a href="/v2/add-to-claim/referral-information.html" class="govuk-link">Version 2</a></p>


    </div>
  </div>
</details>

{% endblock %}
